# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PR-CTICA-NO-PRESENCIAL\PRÁCTICA NO PRESENCIAL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
